//-
  options.text - текст
  options.isSubmit - тип кнопки Submit
  options.modifiers - модификаторы кнопки
  options.href - ссылка

mixin button(options={})
  if !options.modifiers
    - options.modifiers = {}

  - const classes = getModifiers('button', options.modifiers);

  #{ options.href ? "a" : "button"}.button(class=classes type=options.isSubmit ? 'submit' : false href=options.href)
    span.button__text= options.text || 'Click me'