include ../rating/rating

//-
  options.images = массив картинок вида [1, 2, 3, ..., 12]
  options.number = номер
  options.isLuxe = true/false люкс
  options.price = цена
  options.rating = рейтинг от 1 до 5
  options.reviewsCount = количество отзывов

mixin card(options={})
  if !options.images
    - options.images = []

  .card
    a.card__link(href="/mock-address/change-me")
      if options.images
        .card__slider.js-card-slider
          .swiper
            .swiper-wrapper
              each image in options.images
                .swiper-slide
                  .card__slider-item
                    img.card__slider-image(src=require(`../components/card/images/${image}.jpg`), alt="")
                    
            .card__slider-pagination.js-card-slider__pagination
            .card__slider-button.card__slider-button_prev.js-card-slider__button-prev
            .card__slider-button.card__slider-button_next.js-card-slider__button-next
                
      .card__body 
        .card__info 
          .card__info-item
            .card__number № #{options.number}
            if options.isLuxe
              .card__type Люкс
          .card__info-item
            .card__price #{options.price}₽
            .card__per в сутки
        .card__info
          .card__info-item
            +rating({
              rating: options.rating
            })
          .card__info-item
            .card__reviews-count= options.reviewsCount
            .card__reviews-text Отзывов